@import "global";
@import "search";


body{
  background-color: #4811AE;
}

header {
  background: #936cd69d;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;

    h2 {
      font-size: 36px;
      color: white;
    }
  }


  .right {
    display: flex;
    gap: 15px;
    align-items: center;

    #sortByIsMarried,
    #sortByLastName,
    .adding {
      padding: 5px 5px;
      border: 1px solid rgb(45, 0, 77);
      background: rgba(30, 69, 69, 0.276);
      color: #ffffff;
      outline: none;
      border-radius: 6px;
      font-size: 18px;
      cursor: pointer;
      text-align: center;
      transition: 0.3s;
    }
  }

  @media(max-width:630px) {
    .container {
      justify-content: center;
    }

    .input-container{
      top: 110px !important;
    }
  }

}

.changeMarried{
  background-color: #4811AE;
}

.selectMarried{
  background-color: #4811AE;
}


.teacherStudents{
  display: flex;
  gap: 9px;

  img{
    width: 24px !important;
    height: 25px !important;
    padding-bottom:8px;
  }
}

.editTeacherInfo{
  display: flex;
  gap: 9px;

  img{
    width: 21px !important;
    height: 22px !important;

  }
}

.deleteTeacherInfo{
  display: flex;
  gap: 9px;

  img{
    width: 16px !important;
    height: 19px !important;

  }
}

.deleteTeacherInfo:hover{
  background: #ff0000 !important;
}


main {
  .card-row {
    padding-top: 140px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    @media(max-width:810px) {
      .card {
        width: 60% !important;
      }
    }

    @media(max-width:650px) {
      padding-top: 210px !important;

      .card {
        width: 70% !important;
      }
    }

    @media(max-width:550px) {
      .card {
        width: 85% !important;
      }
    }

    @media(max-width:450px) {
      .card {
        width: 100% !important;
      }
    }

    justify-content: center;
    row-gap: 20px;
    padding: 120px 0px 40px;

    .card {
      width: 400px;
      border-radius: 8px;
      padding: 0px 0px 10px;
      color: white;
      overflow: hidden;
      position: relative;
      transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
      cursor: pointer;
      background: rgba(255, 255, 255, 0.15);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border: 2px solid rgb(0, 0, 0);
      
    }
    
    .card:nth-child(3) {
      display: none;
    }
    
    .card-content {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: white;
      height: 100%;

      img {
        width: 100%;
        height: 260px;
        object-fit: cover;
        border-radius: 5px;
        z-index: 1;
      }
    }

    .card-content .card-title {
      font-size: 28px;
      font-weight: 700;
      color: inherit;
      text-transform: uppercase;
      padding-left: 20px;
    }

    .card-content .card-para {
      padding: 2px 20px;
      width: 100%;
      display: flex;
      gap: 10px;
      color: inherit;
      font-size: 16px;
    }

    .card:hover {
      transform: scale(1.02);
      box-shadow: 10px 6px rgba(55, 0, 70, 0.3) !important;
    }

  }

  .btns {
    display: flex;
    justify-content: center;
    gap: 15px;

    button,
    .teacherStudents {
      padding: 8px 13px;
      cursor: pointer;
      font-size: 16px;
      border-radius: 4px;
      border: none;
      transition: .3s;
      background-color: rgb(168, 97, 255);
      color: white;

      &:nth-child(1):hover {
        background: rgb(0, 255, 34);
      }

      &:nth-child(2):hover {
        background: rgb(3, 203, 113);
      }

      &:nth-child(3):hover {
        background: red;
      }
    }
  }
}


.pagination {
  width: 100%;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  gap: 5px;

  .page-link {
    padding: 5px 10px;
    border-radius: 7px !important;
    border: none;
    background: rgba(129, 57, 222, 0.475);
    font-size: 16px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
  }
}

.Active {
  background: rgb(179, 0, 255);
  border-radius: 7px !important;
}

.disabled {
  background: rgb(44, 0, 95) !important;
  opacity: 0.4;
}

@import "modal";

.pagination{
  padding-bottom: 94px;
}


body{
  overflow-x: hidden;
}
body .footer {
  z-index: 1;
  --footer-background:rgb(58, 0, 138);
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
}
body .footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}
body .footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
          animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
body .footer .content {
  padding: 6rem 1rem 2rem;
  background: var(--footer-background);
  z-index: 2;
}
.footer .content .container {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  color: #ffffff;
}

.content h2 {
  margin-bottom: .25rem;
  font-size: 2.25rem;
}

.content span {
  font-size: .875rem;
}

.footer__link{
  img{
    width: 24px;
  }
}

.footer__links  {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  transition: all 150ms ease-out;
  justify-content: center;
}

.footer__links .footer__link {
  transition: all 150ms ease-out;
  display: inline-block;
}

.footer__link:hover:after {
    width: 100%;
}

.footer__link:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background-color: #fff;
    transition: width .25s ease-out;
}
.footer__socials {
  justify-self: flex-end;
}

.footer__social {
  font-size: 1.25rem;
  margin-right: 1.5rem;
}
.footer__social:hover {
  opacity: 0.8;
}

.footer__copy {
  text-align: center;
  background:rgb(58, 0, 138);
  font-size: 30px;
  text-align: center;
  color: #dcdcdc;
  padding: 3rem 0 2rem;
}
@-webkit-keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@-webkit-keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}

@media screen and (max-width: 767px){
  .footer .content {
    padding: 0 1.5rem;
  }
  .footer .content .container {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .content h2 {
    font-size: 1.5rem;
  }

  .content span {
    font-size: .813rem;
  }

  .footer__links  {
    flex-direction: column;
    row-gap: 1.5rem;
  }
  
  .footer__socials {
    justify-self: flex-start;
  }
}

@media screen and (max-width: 567px){
  .footer .content .container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 3.5rem;
  }
}